#head{
    text-align: center;
    font-weight: bold;
}
#rules{
    text-align: center;
}

#container{
    display: grid;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 5px;
    grid-gap: 5px;
    grid-template-areas: 
        'spot spot spot'
        'spot spot spot'
        'spot spot spot';
}

.squares{
    background-color: violet;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

#playerTurn{
    text-align: center;
}